* {
  font-family: "Inconsolata", monospace;
}
.site-wrapper {
  height: 100vh;
}
h1 {
  padding-top: 15px;
}

.intro {
  padding-top: 25px;
  text-align: center;
  margin-bottom: 3px;
}

.lewis-div {
  display: flex;
  justify-content: center;
}

.lewis {
  width: 350px;
  border-radius: 25px;
  margin-top: 20px;
  max-width: 300px;
}
.home-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 170px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  background-color: turquoise;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 15px;
}

.git-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 170px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  background-color: turquoise;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 1px;
}

.text {
  text-align: center;
}
h4 {
  padding-top: 25px;
  text-align: center;
}

h6 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.drop-down {
  display: flex;
  justify-content: center;
}

select {
  display: flex;
  background-color: turquoise;
  border: none;
  color: white;
  // background: white;
}

table {
  // border: 1px solid black;
  border-radius: 25px;
  max-width: 95%;
  border: none;
  // margin-top: 10px;
  color: white;
}

th,
td {
  color: white;
}

.table-div {
  display: flex;
  justify-content: center;
}

th {
  text-align: left;
}
.nav-item {
  margin-right: 10px;
  a {
    text-decoration: none;
    color: white;
  }
}

.navbar {
  background-color: black;
}
.background {
  height: 100vh;
  background-color: rgb(29, 31, 31);
  color: white;
}

.background-home {
  min-height: 90vh;
  background-color: rgb(29, 31, 31);
  color: white;
}
.fa-flag-checkered {
  color: white;
}
.title {
  text-align: center;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    background-color: rgb(236, 184, 89);
    margin: 0;
  }
  p {
    margin: 0;
    color: white;
  }
  i {
    color: red;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  img {
    width: 30px;
  }
}
